<h1>New Event</h1>

<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <div class="bg-white rounded p-4 shadow">
        <h3 class="mb-4">Add a new event</h3>
          <%= render "form" , event:@event%>
          <%= link_to "Return to Events", events_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>
