.card-category {
  background-size: cover;
  background-position: center;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

.card-body {
  height: 200px;
  overflow: hidden;
}

.card-body-works {
  height: auto;
  overflow: hidden;
}


.card-category:hover {
  border: 5px solid #023047;
}

.card-link {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.card-circle {
  border-radius: 50%;
  background-size:cover;
  background-position: center;
  height: 200px;
  width: 300px;
  display: center;
  justify-content: center;
  align-items: center;
}

.card-title-works {
  color: #219ebc;
  font-size: 24px;
  font-weight: bold;
  padding-top: 15px;
  /* text-shadow: 1px 1px 3px rgba(0,0,0,0.2); */
  background-color: #c8d6dd;
  /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
  text-align: center;
}

.card-text-works {
  display: flex; /* Use flexbox to create a horizontal layout */
  justify-content: space-between; /* Space the elements apart */
  text-align: center;
}

.cards-wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.card-title-ta {
  padding: 5px;
}

.cards-works {
  display: flex;
  flex-direction: row;
  padding-left: 100px;
  padding-right: 100px;
}

.card-work {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.card-carousel {
  width: calc(80%/3);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  height: 300;
  align-items: start;
}

/* .image-wrapper {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;

.image-wrapper img
} */

.image-wrapper {
  display: flex;
  justify-content: center;
  background-size: cover;
  background-position: center;
  height: 180px;
  width: 180px;
  border-radius: 50%;
}

.main-info {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: space-between;
  align-items: stretch;
}

.event-date {
  flex: 1; /* Use all remaining space */
}

.event-price {
  text-align: right;
}

.card-text {
  display: flex; /* Use flexbox to create a horizontal layout */
  justify-content: space-between; /* Space the elements apart */
}
 .user-card {
  display: flex; /* Use flexbox to create a horizontal layout */
  align-items: center;
  justify-content: space-between; /* Space the elements apart */
  font-size: 12px
 }
