.card-category {
  background-size: cover;
  background-position: center;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

.card-body {
  height: 325px;
  overflow: hidden;
}


.card-category:hover {
  border: 5px solid #023047;
}

.card-link {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.card-circle {
  border-radius: 50%;
  background-size:cover;
  background-position: center;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.main-info {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: space-between;
  align-items: stretch;
}

.event-date {
  flex: 1; /* Use all remaining space */
}

.event-price {
  text-align: right;
}

.card-text {
  display: flex; /* Use flexbox to create a horizontal layout */
  justify-content: space-between; /* Space the elements apart */
}
 .user-card {
  display: flex; /* Use flexbox to create a horizontal layout */
  align-items: center;
  justify-content: space-between; /* Space the elements apart */
  font-size: 12px
 }
