
.my-card-link {
  flex: 0 0 calc(33.333% - 16px);
  text-decoration: none;
}
@media (max-width: 991px) {
  .card-link {
    flex: 0 0 calc(50% - 16px);
  }
}
@media (max-width: 767px) {
  .card-link {
    flex: 0 0 calc(100% - 16px);
  }
}

.shadow-effect {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.3s ease;
}

.shadow-effect:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.12), 0 4px 6px rgba(0, 0, 0, 0.08);
}
