.card-img-top {
  width: 150px; /* adjust the size as needed */
  height: auto;
  margin: 20 auto; /* center the image horizontally */
}
.card {
  width: 80%; /* adjust the width as needed */
  margin: 0 auto; /* center the card horizontally */
  text-align: centre; /* center the text */
  display: flex;
  flex-direction: column;
  justify-content: center;

}
body {
  font-family: 'Montserrat', sans-serif;
}
.card {
  border-radius: 10px;
  box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
  padding: 40px;
}
